@import './main.css';

.container-front {
    display: grid;
    grid-template-columns: .6fr 2fr 2fr 2fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.3fr;
    grid-gap: .7em;
    font-family: 'Lato', sans-serif;
    grid-gap: .2rem;
    grid-template-areas:
        "h h h h h"
        "sl m1 m2 m3 sr"
        "sl m1 m2 m3 sr"
        "sl m1 m2 m3 sr"
        "f f f f f";
    color: rgb(182,184,186);
}

.post{
    background-color: rgb(239,239,239);
    padding: .5rem 1rem;
}

.post_body{
    font-size: 0.9rem;
}

.col1{
    grid-area: m1;
    padding: 1rem;
    display: flex;
}

.col2{
    grid-area: m2;
    padding: 1rem;
}

.col3{
    grid-area: m3;
    padding: 1rem;
}

.footer{
    grid-area: f;
    background-color: gray;
    padding: 1rem;
    font-size: 0.6rem;
}